
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    flex-grow: 1;
}

header nav ul li a {
    display: block;
    padding: 20px;
    text-align: center;
    color: #757474;
    text-decoration: none;
    border-radius: 5px;
}

header nav ul li a:hover {
    background-color: #e55d00;
}


*{                  /* para todos os elementos */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: iFood RC Textos, helvetica, sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    height: 100%;
    scroll-behavior: auto;
}

nav {
    background-color: #e0dfdf;
}

nav a {
    color: #5c3131;
    text-decoration: none;
}

div {
    display: block;
    unicode-bidi: isolate;
}

img {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-right: 10px; /* Adiciona espaço à direita do logotipo */
}

.menu, .submenu {
    list-style-type: none;
}

#logo{
    font-size: 1.25em;
}

.item.button:hover{
    background-color: rgb(240, 43, 43);
}

.item:not(.button) a:hover {
    color: rgb(238, 104, 86);
}

#menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    height: 150px;
} 

#menu li a{
    padding: 1em;
    display: block;
}

#listras{
    order: 1;
    font-size: 1.25em;
}

.item.button{
    order: 2;
}

.item{
    order: 3;
    display: none;
    width: 100%;
}

.active .item{
    display: block;
}

.submenu{
    display: none;
}

.submenu-active{
    background-color: #111;
}

.submenu-active .submenu{
    display: block;
}

.tem-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 0.75em;
    line-height: 1em;
    font-weight: 900;
    content: "\f078";
    color: #fff;
    padding-left: 0.3125em;
}

@media all and (min-width: 960px){

    #menu {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    #logo{
        order: 0;
    }

    .button{
        order: 2;
    }

    #listras{
        display: none;
    }
    .item{
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }
    .submenu-active .submenu{
        display: block;
        position: absolute;
        top: 3em;
        background-color: #111;
    }

.landing-v2-header__container {
    display: grid;
    grid-template-columns: 40px 1fr 88px;
    padding: 20px 16px;
    grid-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px;
    align-items: center;
    max-width: 1278px !important;
    margin: 0 auto;
    position: relative;
}
    
::selection {
    color: #fff;
    background: #ea1d2c;
}

.groceries {   /*landing-groceries-header*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        text-align: center;
        width: 100%;
        margin-top: 0;
        padding: 56px 0 136px;
        background-image: url(https://static.ifood-static.com.br/image/upload/t_banner/webapp/landing/groceries-background-mobile.png);
        background-repeat: no-repeat;
        background-position: center -15px;
        background-size: 100% auto;
        aspect-ratio: 2;
    }
}

.landing-v2-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #f7f7f7;
    z-index: 9997;
}

.landing-v2-header__container {
    grid-template-columns: 88px 1fr 114px 104px;
    padding: 40px 32px;
    grid-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
}

.groceries__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Torna o .groceries__container como um container posicional */
    
}

.groceries__icon {
    position: absolute; /* Posicionamento absoluto para o ícone */
    left: 10px; /* Posiciona o ícone 10px à esquerda */
}

.groceries__input {
    margin-left: 20px; /* Adiciona um espaçamento entre o ícone e o input */
}
